<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/css/es.css" />
    <link rel="shortcut icon" href="/css/favicon.ico" />
</head>

<body>

    <br><div><%=heading%></div><br>

    <table class="dialog">
        <tr>
            <th>Имя</th>
            <th>Размер</th>
            <th>Тип</th>
            <th>Скачать</th>
        </tr>   
        <% let b = 0, n=2; %>
        <% for (let i = 0; i < list_files.length; i++) {%>
            <% if (list_files[i].file_type != "Папка") {%>
                <tr>
                    <td class="item" style="padding-left: 7%;">
                        <a href="/docs/<%=i%>"><%=list_files[i].file_name%></a>
                    </td>   
                    <td class="item">
                        <a href="#"><%=list_files[i].file_size%></a>
                    </td>  
                    <td class="item">
                        <a href="/q33/<%=i%>"><%=list_files[i].file_type%></a>
                    </td>  
                    <td class="item">
                        <a href="/q8/<%=i%>" download>Скачать</a>
                    </td>  
                </tr>
                <!-- <p><%=b%></p> -->
            <%} else {%>
                <tr>
                    <td class="item">
                        <a href="#"><%=list_files[i].file_name%></a>
                    </td>   
                    <td class="item">
                        <a href="#"><%=list_files[i].file_size%></a>
                    </td>  
                    <td class="item">
                        <a href="#"><%=list_files[i].file_type%></a>
                    </td>  
                    <td class="item">
                        <!-- <a href="/q8/<%=i%>" download>Скачать</a> -->
                    </td>  
                </tr>
                <% n += 5 %>
            <%} %>

        <%} %>
    </table>

</body>
</html>
